<% include partials/header %>
<form method="POST" action="/key">
    <label for="key">Enter Development Access Key</label>
    <input type="text" name="key">
    <input type="submit" value="Submit">
</form>
<% include partials/footer %>
